@font-face{
	font-family: inconsolata;
	src: url('https://fonts.googleapis.com/css?family=Inconsolata');
}

body{
	font-family: inconsolata;
	font-size: 11pt;
	color: #d9dde2;
	background-color: #262626;
}

.header{
	font-size: 15pt;
	color: white;
}

.content{
	padding: 3vw;
	max-width: 700px;
}

.entry{
	margin-top: 10pt;
}

.header-info{
	color: #51fc37;
	font-size: 18pt;
}

.subheader-text{
	color: white;
	font-size: 12pt;
}

.content-text{
	color: #d9dde2;
	font-size: 10pt;
}

.header-text{
	color: #66ccff;
	font-size: 10pt;
	text-decoration: none;
}

.sub-text{
	font-size: 9pt;
}

.highlight{
	color: #99ffbb;
}

.link{
	color: #66ccff;
}

.nav-item{
	color: #66ccff;
	font-size: 10pt;
	text-decoration: none;
	display: inline-block;
}

.nav-item-gray{
	color: white;
	font-size: 10pt;
	text-decoration: none;
	display: inline-block;
}

.nodeco{
	text-decoration:none;
}

.rightmargin{
	margin-right: 12px;
}

.entry-title{
	font-size: 14pt;
	color: #99ffbb;
}

.entry-subtitle{
	color: #6bd66e;
	font-size: 10pt;
	text-decoration: none;
}