<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="css/proj_style.css"> <!-- CSS for projects page -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<!-- Smooth Scrolling -->
  	<script>
		$(document).ready(function(){
		  $("a").on('click', function(event) {
			if (this.hash !== "") {
			  event.preventDefault();
			  var hash = this.hash;
			  $('html, body').animate({
				scrollTop: $(hash).offset().top
			  }, 500, function(){
				window.location.hash = hash;
			  });
			} 
		  });
		});
	</script>
	<title>Brian Chen</title>
</head>
<body id="nfound">
	<a name="top"/>
	<header class="cd-header">
		<a href="#0" class="cd-3d-nav-trigger">
			Menu
			<span></span>
		</a>
	</header> <!-- .cd-header -->
	
	<main>
		
	<div id="container">
		<div class="col-sm-12 text-center">
		  <h1>404 - Page Not Found</h1>
		  <p style="color: white">The page could not be accessed. Consider contacting Brian or returning to a working page</p>
		  <br><br><br><br><br>
		  <a class="btn btn-primary" onclick="history.back(-1)">Go Back</a>
		</div>
	</div>
	</main>
	<nav class="cd-3d-nav-container">
		<ul class="cd-3d-nav">
			<li >
				<a href="index">Home</a>
			</li>

			<li class="cd-selected">
				<a href="projects">Portfolio</a>
			</li>

			<li>
				<a href="resume">Resume</a>
			</li>

			<li>
				<a href="blog">Blog</a>
			</li>

			<li>
				<a href="contact">Contact</a>
			</li>
		</ul> <!-- .cd-3d-nav -->

		<span class="cd-marker color-1"></span>	
	</nav> <!-- .cd-3d-nav-container -->
<a class="smoothScroll" href="#top" id="toTop" style="display: block;"></a>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>