body{
	margin-top:-50px;
	background: url("/assets/runeseeker/rs-bck.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.jumbo-lite{
	background-color: #f2f2f2;
	margin-left: 3%;
}

.resize{
	height:42px;
	width:42px;
}