ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

li a.dropbtn-2{
	background-color:#4CAF50;
}
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #cccccc}

.dropdown:hover .dropdown-content {
    display: block;
}

li a:hover {
    background-color: #111;
}

body{
	background: url("/assets/repeat_chrome.png");
	background-repeat:repeat;
	/*-webkit-text-size-adjust: 100%;*/
}

p{
	font-family: 'Arimo', sans-serif;
	font-size:18px;
}

.header{
	position:fixed;
	margin: 0px, auto;
	top:0px;
	width: 75%;
	left:12.5%;
	font-family: 'Lato', sans-serif;
}

.footer_box{
	background-color:#595959;
	padding-top:15px;
	padding-bottom:15px;
}
.footer{
	margin-top:15px;
	margin-bottom:15px;
	display: table;
    margin: 0 auto;
}

.content{
	width:75%;
    background: #fcfcfc;
    border: 1px solid #CCC;
    min-height:600px;
    margin: 40px auto;
}

.game-content{
	width:75%;
    background: #46a049;
    border: 1px solid #CCC;
    min-height:600px;
    margin: 40px auto;
}

.web-content{
	width:75%;
    background: #008ae6;
    border: 1px solid #CCC;
    min-height:600px;
    margin: 40px auto;
}

.misc-content{
	background: #e68a00;
	width:75%;
    border: 1px solid #CCC;
    min-height:600px;
    margin: 40px auto;
}

.misc-content{
	
}
.active {
    background-color: #4CAF50;
}

.subheader{
	font-family: 'Didact Gothic', sans-serif;
	font-size:30px;
	margin-bottom:0px;
	padding-left:30px
}

.text{
	font-size:14px;
	font-family: 'Arimo', sans-serif;
}
.titleHeader{
	font-family: 'Cabin', sans-serif;
	font-size:50px;
	display:table;
	margin: 0 auto;
	margin-top:20px;
	margin-bottom:10px;
}

.contentBox{
	display: table;
    margin: 0 auto;
}
.project_hr{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	margin-top:5px;
	margin-bottom:45px;
}

.bold{
	border: 2;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-top:30px;
	margin-bottom:30px;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

/* The Image */
div.img img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

/* Description of Image */
div.desc {
    padding: 15px;
    text-align: center;
	font-family: 'Arimo';
	background-color: #46a049;
	color: white;
	font-size: 13px;
}

div.webdesc{
	background-color: #008ae6;
	color: white;
	font-size: 13px;
	padding: 15px;
    text-align: center;
	font-family: 'Arimo';
}

div.miscdesc{
	color: white;
	font-size: 13px;
	padding: 15px;
    text-align: center;
	font-family: 'Arimo';
	background-color: #e68a00;
}

* {
    box-sizing: border-box;
}

/* Add Responsiveness */
.responsive {
    padding: 0 6px;
    float: left;
    width: 23.5%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
	font-size:20px;
	font-family: 'Arimo', sans-serif;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0.1)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive Columns */
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

/* Clear Floats */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearbutton{
	font-family: 'Lora', serif;
	font-size:30px;
    background: transparent;
    border: none !important;
}

.desc-text{
	margin-left:4%;
	margin-bottom:25px;
	font-family: 'Arimo', sans-serif;
	font-size:14px;
	margin-right: 10%;
}

.nodecolink{
	text-decoration: none;
	color:black;
	font-weight: bold;
	font-size:18px;
	font-family: Lato;
}

.nodecolink_small{
	text-decoration: none;
	color:black;
	margin-left:1%;
	font-size:12px;
}

.black{
	font-family: Arimo;
	background-color: #ffffff;
	border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arimo;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}

.underline{
	text-decoration:underline;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.entry{
	margin-left:40px;
	font-family: 'Arimo', sans-serif;
}

.nolink{
	text-decoration: none;
	color:black;
}

.centerimg {
    display: block;
    margin: 0 auto;
	border-radius:10px;
}

.blog{
  border: 0;
  border-top: 1px dotted #8c8c8c;
  width:70%;
}

.blogEntry{
	font-family: Arimo;
	font-size:14px;
	font-color:black;
	width: 70%;
    margin: 0 auto; 
}

.resizeImg{
	width:100%;
	border:1px solid #021a40;
}

.odd-game-element{
	background-color: #EBF5EE;
}

.odd-web-element{
	background-color: #E6F5FF;
}

.odd-misc-element{
	background-color: #fff5e6;
}
.even-element{
	background-color:white;
}

.headpic{
	border: solid 0.4em #008ae6;
	border-radius: 100%;
	float:left;
	width:18%;
	margin-right:2%;
}
