div.tab {
  overflow: hidden;
  border: 1px;
  background-color: transparent;
}

.emojibutton{
  height:10%;
  margin-bottom: 2%;
  border:none;
  background-color: white;
}

.formulabutton{
  height:20px;
  width:inherit;
  border:none;
  background:none;
}

#previewArea{
  background-color: #cccccc;
  border-radius:5px;
  padding: 5px;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    transition: 0.5s;
}

button.accordion.active, button.accordion:hover {
    background-color: transparent;
}

div#panel {
    top:-445%;
    display:none;
    position:absolute;
    z-index:99;
    background-color: black;
    opacity: 0.6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    border: 1px solid gray;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #111;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border-top: none;
    border: 1px black;
}

.tablinks{
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

li input {
    width: 120px;
    text-align: center;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    margin-bottom: 5px;
}

/* Change the link color on hover */
li input:hover {
    background-color: #555;
    color: white;
}

li input.active{
  background-color: #ff6600;
}

.entry{
  padding: 10px;
}