/* CSS Document */
  .donthighlight {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

::-webkit-scrollbar-track
{
//	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

::-webkit-scrollbar
{

	width: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
//	border: 2px solid #555555;
}

body {
    padding: 0;
    margin: 0;
    overflow-x:hidden;
	position:absolute;
	z-index:1;

    font:12px Permanent Marker;
    color: #222;
    text-align:center;
    padding:35px; }
  
form{
    width:100%
   	position:absolute;
    bottom:0px;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index:1;
 }
   
   
   #chatlog {
    position:relative;
    top:10px;
	background-color:rgba(0, 0, 0, 0);
	border:0.5px solid black;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Permanent Marker;
	font-size:12px;
	font-weight:bold;
	padding:2px 16px;
	text-decoration:none;
	z-index:1;

}

#chatlog:hover {
	background-color:transparent;
}

#chatlog:active {
	position:relative;
	top:1px;
}
   #actionlog{
   	position:relative;
    top:10px;
	background-color:rgba(0, 0, 0, 0);
	border:0.5px solid black;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Permanent Marker;
	font-size:12px;
	font-weight:bold;
	padding:2px 16px;
	text-decoration:none;

}

#actionlog:hover {
	background-color:transparent;
}

#actionlog:active {
	position:relative;
	top:1px;
}








   
   
p {

font:16px arial;
text-align:left

}
  
input { font:12px arial; }

  
  #chatbox {


    opacity: 0.4;
	word-wrap: break-word;
    overflow:auto;
	-moz-user-select: none;
    -webkit-user-select: none;
    	z-index:1;
	
 }
	h1{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	left:44%;
	font-size:45px;
	top:0px;
	
    }
    
    h2{
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
 	position: absolute;
 	right: 7vw;
 	
    }
 
    #actiontextarea {
    -moz-user-select: none;
    -webkit-user-select: none;
	visibility:hidden;
	word-wrap: break-word;
    overflow:auto;
	width:100%;
	height:75%;
	left:3px;
 }
 

 	#topbar {
 	background-color: #DEBC59;
 	height:90px;
 	width: 100vw;
 	left: 0em;
 	top: 0em;
 	position:absolute;
 	
 	}
 	
 	#menu {
 	position:absolute;
 	top:15vh;
 	width:95vw;	
 	}
 	
    #chattextarea {
    -moz-user-select: none;
    -webkit-user-select: none;
	width:100%;
	height:75%;
	word-wrap: break-word;
    overflow:auto;
    position:absolute;
    left:3px;
 }
 
 	#wrapper {
 	    -moz-user-select: none;
   	    -webkit-user-select: none;
		border-style:none;
 		position:absolute;
 		left:300px;
 		top:350px;
 		width:600px;
 		height:500px;
 			z-index:1;

 	}


#submitmsg {
visibility:hidden;
} 

#usermsg {

background:transparent;
border: 0.5px solid black;
padding-left: 5px;
}


  

  